@charset "ISO-8859-1";

html, body {
  height: 85%;
  margin: 0;
}

.CodeMirror {
	border: 1px solid #aaa;
	height: 100%;
	margin-bottom: 10px;
}

.errorCode {
	display: block;
	color: red;
	margin-bottom: 10px;
	margin-top: -8px;
}

/* #loadOverlay {
	display: none;
} */

.chart {
/* 	height: 159px;
	width: 332px; */
/* 	border: 3px solid #DDD;
	border-radius: 3px; */
	border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.node {
	color: #9CB5ED;
	border: 2px solid #C8C8C8;
	border-radius: 3px;
}

/* Notemos que al poner el mismo tamaño de borde que la clase 'node' los cálculos para la altura del div son iguales */
.nodo_invisible {
	color: #FFFFFF;
	border-color: #FFFFFF;
	z-index: -1;
}

.node p {
	font-size: 20px;
	line-height: 18px;
	height: 25px;
	font-weight: bold;
	/* padding: 3px; */
	margin: auto 4px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
	max-width: 100px;
}

/* .node p:hover {
	overflow: visible;
	max-width: fit-content;
} */


/* Fullcreen */

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}

